.minecraft{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  object-position: middle;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.message{
  color: grey;
  font-size: 16px;
  border: none;
  width: 300px;
  vertical-align: middle;
  border-radius: 12.5px;
  height: 25px;
  border-width: 2px;
  padding-left: 4px;
}

.tweet-button{
  vertical-align: middle;
  background-color: blue;
  color: white;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  margin-left: 0px;
  width: 70px;
}

.tweet{
  width: 470px;
  height: 70px;
  border: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}