.subscribe-button {
  background-color: rgb(194, 21, 21);
  color:white;
  border:none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition:opacity 0.15s;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:16px;
  padding-right:16px;
  vertical-align:top;

}
.subscribe-button:hover{
  opacity: 0.8;
  
}
.subscribe-button:active{
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color:rgb(41, 118, 211);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color:rgb(41, 118, 211);;
  cursor: pointer;
transition: background-color 0.15s,
color 0.15s;
padding-left:16px;
padding-right:16px;
padding-top:9px;
padding-bottom:9px;

}

.join-button:hover{
  background-color: rgb(41, 118, 211);
  color: white;
 
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color:rgb(29,155,240);
  border: none;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align:top;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}