.profile-div{
  display: inline-block;
  vertical-align: middle;
}

.cat-profile-1{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: middle;

}

p{
  font-family: Roboto,Arial;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

.the-cat-text,
.Popular-text{
  color: rgb(96, 96,96);
  margin-top: 3px;
  font-size: 12px;
}

.text-div{
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;

}

.oliver-text{
  font-size: 16px;
  font-weight: 500;
}

.button-div{
  display: inline-block;

}

.follow-button{
  border-radius: 3px;
  border:none;
  color: white;
  background-color:rgb(74, 74, 242);
  padding-left: 7px ;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.15s;
  margin-left: 60px;
}

.second-profile-div{
  display: block;
  margin-top: 20px;
  
}

.follow-button-2{
  border-radius: 3px;
  border:none;
  color: white;
  background-color:rgb(74, 74, 242);
  padding-left: 7px ;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.15s;
  margin-left: 96px;
}